html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.box {
    background:url("../img/thumb-1920-26102.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.obrazek{
    background:url("../img/table2.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.obrazek2{
    color: white;
    background:url("../img/table.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}