{% extends "base.html" %}

{% block title %}{{ view_title }}{% endblock %}
{% block content %}
<div class="row pt-3">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 obrazek2">
        <h2 class="display-5 text-center">{{ view_head }}</h2>
    </div>
</div>
<div class="row pt-4">
    {% for book in books_list %}
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 pt-3">
        <div class="card">
            {% if book.photo %}
            <img class="card-img-top" style="height: 24rem;" src="{{ book.photo.url }}" alt="{{ book.name }}">
            {% endif %}
            <div class="card-body">
               <h4 class="card-title"><a>{{ book.name }}</a></h4>
                <p class="card-text">{% for authors in book.author.all %}<a href="{% url 'bookauthor' authors.name %}" class="btn btn-light">{{ authors.name }}</a> {% endfor %}</p>
                <p class="card-text">{% for kind in book.kinds.all %}<a href="{% url 'bookkind' kind.name %}" class="btn btn-light">{{ kind.name }}</a> {% endfor %}</p>
                <p class="card-text">{% for genre in book.genres.all %}<a href="{% url 'bookgenre' genre.name %}" class="btn btn-light">{{ genre.name }}</a> {% endfor %}</p>
                <a href="{% url 'bookdetail' book.pk %}" class="btn btn-primary">Podrobnosti</a>
            </div>
        </div>
    <p></p>
    </div>
    {% endfor %}
</div>
{% endblock %}